{% extends "layout.html" %} {% block body %}
<!-- container & title -->
<div class="container my-4">
  <h1 class="my-4 text-center fraunces fw-900">Pod 4 Chat</h1>
  <!-- buttons for chatrooms -->
  <div class="chat-rooms mb-3 text-center">
    <div class="my-2">Choose a chatroom:</div>

    {% for topic in topics %} {% if topic == current_topic %}
    <a href="/chat?page={{topic}}" class="btn active" id="{{topic}}">#{{topic}}</a>
    {% else %}
    <a href="/chat?page={{topic}}" class="btn" id="{{topic}}">#{{topic}}</a>
    {% endif %} {% endfor %}
  </div>
  <!-- name heading -->
  <div class = "username-header">
    <h3 class = "fraunces fw-700 mb-3">Username: {{username}}</h3>
  </div>
  <!-- chat list / window -->
  <div class="chat-window">
    <ul class="chat-list list-group">
      {% for chat in messages %}
      <li class="list-group-item">
        <span class="username fraunces fw-700">{{chat.username}}:</span>
        <span class="message">{{chat.message}}</span>
        <div class="time mt-2">{{chat.time_created }}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- new chat form -->
  <form class="new-chat my-3" action="/chat" method="POST">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">Your message:</div>
      </div>
      <input type="text" id="message" name="message" class="form-control" required />
      <div class="input-group-append">
        <input type="submit" class="btn" value="send" />
      </div>
    </div>
  </form>
  <!-- update name form -->
  <form class="new-name my-3" method="POST" action= "/changename">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">Update name:</div>
      </div>
      <input type="text" id="name" name = "username" class="form-control" required />
      <div class="input-group-append">
        <input type="submit" class="btn" value="update" />
      </div>
    </div>
    <div class="update-mssg"></div>
  </form>
</div>


<!-- <script src="scripts/chat.js"></script>
    <script src="scripts/ui.js"></script>
    <script src="scripts/app.js"></script> -->
{% endblock %}
