{% extends "layout.html" %} {% block body %}
<!-- container & title -->
<div class="container my-4">
  <h1 class="my-4 text-center fraunces fw-900">Pod 4 Chat</h1>
  <!-- buttons for chatrooms -->
  <div id="password-alert" class="alert alert-danger">The passwords do not match.</div>
  {% if error %}
  <div id="alert-error" class="alert alert-danger">{{error}}</div>
  {% endif %}
  <div class="mb-3 text-center">
    <div class="my-2">Sign up to enter the chat.</div>
  </div>

  <!-- update name form -->
  <form class="new-name my-3" id="new-user-form" method="POST" action="/new-user">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" id="username1" name="username" required placeholder="Enter your username" />
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="password1" name="password" required placeholder="Password" />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword2">Please re enter your password</label>
      <input type="password" class="form-control" id="password2" name="password" required placeholder="Password" />
    </div>

    <button type="button" class="btn" onclick="myFunction()">Submit</button>
  </form>
</div>
<script>
  var password1 = document.getElementById("password1");
  var password2 = document.getElementById("password2");
  var newUserForm = document.getElementById("new-user-form");
  var passwordAlert = document.getElementById("password-alert");

  function myFunction() {
    if (document.getElementById("alert-error")) {
      document.getElementById("alert-error").style.display = "none";
    }

    if (password1.value === password2.value) {
      newUserForm.submit();
    } else {
      passwordAlert.style.display = "block";
    }
  }
</script>

{% endblock %}
